<p id="notice"><%= notice %></p>

<p>
  <strong>Start airport:</strong>
  <%= @flight.start_airport_id %>
</p>

<p>
  <strong>Finish airport:</strong>
  <%= @flight.finish_airport_id %>
</p>

<p>
  <strong>Start datetime:</strong>
  <%= @flight.start_datetime %>
</p>

<p>
  <strong>Flight duration:</strong>
  <%= @flight.flight_duration %>
</p>

<%= link_to 'Edit', edit_flight_path(@flight) %> |
<%= link_to 'Back', flights_path %>
